.home-page-section {
    display: flex;
    flex-direction: column;
}

.home-page-subtitle, .home-page-title, .home-page-welcome, .home-page-button {
    margin-right: auto;
    margin-left: auto;
}

.home-page-title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}